rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read access to the Catalogue directory
    match /Catalogue/{allPaths=**} {
      allow read: if true;
      allow write: if false;  // Restrict writes to server-side only
    }

    // Existing rules for UserData
    //match /UserData/{userId}/{allPaths=**} {
    //  allow read, write: if request.auth != null && request.auth.uid == userId;
    //}

    // TODO: look into readium's ability to get data via firebase
    match /UserData/{allPaths=**} {
      allow read: if true;
      allow write: if false;  // Restrict writes to server-side only
    }

    // Default rule for other paths
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}